/* Global styles */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #1e1e1e;
  color: #ffffff;
}

h1 {
  text-align: center;
  margin: 0;
  padding: 20px;
  background-color: #333;
  color: #ffffff;
}

/* Flex container for main content */
main {
  display: flex;
  flex: 1;
  flex-direction: column;
}

/* Style for the code textarea */
#code {
  flex: 1;
  width: 100%;
  height: 50%;
  resize: none;
  background-color: #2e2e2e;
  color: #ffffff;
  padding: 10px;
  box-sizing: border-box;
  border: none;
}

/* Control panel styles */
#control-panel {
  display: flex;
  justify-content: center;
  padding: 10px;
  background-color: #333;
}
#control-panel input {
  width: 100%;
}
#control-panel button {
  padding: 10px 20px;
  margin: 5px;
  background-color: #444;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

#control-panel button:hover {
  background-color: #555;
}

/* Output console styles */
#output {
  flex: 1;
  background-color: #000000;
  color: #ffffff;
  padding: 10px;
  overflow-y: auto;
  white-space: pre-wrap;
  border-top: 1px solid #444;
  max-height: 48vh; /* Limit the height of the output div */
}

.error {
  color: red;
}
